.lead {
  &__container {
    border-left: 1px solid $light;
  }

  &__slider {
    margin: 0 0 0 146px;
  }

  &__slide {
    max-height: 525px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__arrow {
    @include adaptive("width", 70, 54, 1);
    @include adaptive("height", 70, 54, 1);
    top: auto;
    bottom: 0;
    background-color: $darkest;

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 1px;
      border-top: 1px solid $lightest;
      transition: border 0.3s linear;
    }

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-top: 1px solid $lightest;
      border-left: 1px solid $lightest;
      transform: translateX(-3px) rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        border-color: $accent;
      }
    }

    &--prev {
      @include adaptive("right", 70, 54, 1);
      left: auto;
      right: 70px;
    }

    &--next {
      right: 0;
      transform: rotate(180deg);
    }
  }

  &__info {
    max-width: 288px;
    padding: 36px 40px 46px;
    background-color: $accent;
    transform: translateY(-50%);
    z-index: 1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      top: 0;
      border-bottom: 1px solid $light;
      transform: translateX(-100%);
    }
  }

  &__title {
    @extend %title-small;
    margin: 0 0 24px 0;
  }

  &__description {
    @extend %description;
    margin: 0 0 24px 0;
  }

  &__button-box {
    padding: 0 7px;
  }

  &__button {
    @include button($darkest, $darkest);
    display: block;
  }
  
}

@media (max-width: 768px) {
  .lead {
    &__container {
      border: none;
    }

    &__slider {
      margin: 0;
    }

    &__info {
      max-width: 100%;
      padding: 36px 40px 46px;
      transform: translateY(0);
    }
  }
}