.personal {
  padding: 0 0 50px 0;
  @include adaptive("padding-top", 200, 75, 1);

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__column {
    flex: 0 0 431px;
    padding: 0 18px;
  }

  &__geometry {
    @include adaptive("height", 357, 171, 1);
    position: relative;
    margin: 0 0 100px 0;
    margin-left: auto;
    overflow: hidden;

    &::before {
    @include adaptive("width", 224, 108, 1);
    @include adaptive("height", 224, 108, 1);
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      border: 2px dashed $dark;
      border-radius: 50%;
    }

    &::after {
    @include adaptive("width", 10, 5, 1);
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $accent;
    }
  }

  &__info {
    text-align: right;
  }

  &__title {
    @extend %title-big;
    @include adaptive("margin-bottom", 100, 50, 1);
  }

  &__description {
    @extend %description;
  }
  
  &__image-box {
    flex: 0 0 577px;
    max-height: 752px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}

@media (max-width: 1024px) {
  .personal {
    &__container {
      flex-wrap: wrap;
    }

    &__geometry {
      @include adaptive("flex-basis", 255, 54, 1);
      flex-shrink: 0;
      margin: -20% 0 0 0;
    }

    &__column {
      display: flex;
      flex-direction: row-reverse;
      flex: 0 1 100%;
      margin: 0 0 50px 0;
    }

    &__info {
      text-align: left;
    }

    &__image-box {
      flex: 0 1 100%;
    }
  }
}